<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1060600" android:versionName="1.6.6" android:compileSdkVersion="33" android:compileSdkVersionCodename="13" package="com.nothing.launcher" platformBuildVersionCode="33" platformBuildVersionName="13">
    <uses-sdk android:minSdkVersion="33" android:targetSdkVersion="33"/>
    <permission android:name="com.android.launcher3.permission.RECEIVE_LAUNCH_BROADCASTS" android:protectionLevel="signature"/>
    <permission android:name="com.android.launcher3.permission.RECEIVE_FIRST_LOAD_BROADCAST" android:protectionLevel="signatureOrSystem"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.BIND_APPWIDGET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.android.launcher.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="com.android.launcher3.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.android.launcher3.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="com.android.launcher3.permission.RECEIVE_LAUNCH_BROADCASTS"/>
    <uses-permission android:name="com.android.launcher3.permission.RECEIVE_FIRST_LOAD_BROADCAST"/>
    <uses-permission android:name="android.permission.DEVICE_POWER"/>
    <uses-permission android:name="android.permission.BROADCAST_CLOSE_SYSTEM_DIALOGS"/>
    <uses-permission android:name="android.permission.CONTROL_REMOTE_APP_TRANSITION_ANIMATIONS"/>
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"/>
    <uses-permission android:name="android.permission.START_TASKS_FROM_RECENTS"/>
    <uses-permission android:name="android.permission.REMOVE_TASKS"/>
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"/>
    <uses-permission android:name="android.permission.MANAGE_ACTIVITY_TASKS"/>
    <uses-permission android:name="android.permission.STATUS_BAR"/>
    <uses-permission android:name="android.permission.STOP_APP_SWITCHES"/>
    <uses-permission android:name="android.permission.SET_ORIENTATION"/>
    <uses-permission android:name="android.permission.READ_FRAME_BUFFER"/>
    <uses-permission android:name="android.permission.MANAGE_ACCESSIBILITY"/>
    <uses-permission android:name="android.permission.MONITOR_INPUT"/>
    <uses-permission android:name="android.permission.ALLOW_SLIPPERY_TOUCHES"/>
    <uses-permission android:name="android.permission.SYSTEM_APPLICATION_OVERLAY"/>
    <uses-permission android:name="android.permission.READ_WALLPAPER_INTERNAL"/>
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES"/>
    <uses-permission android:name="android.permission.READ_DEVICE_CONFIG"/>
    <uses-permission android:name="android.permission.ROTATE_SURFACE_FLINGER"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <permission android:label="@string/permlab_read_settings" android:name="com.nothing.launcher.permission.READ_SETTINGS" android:protectionLevel="signatureOrSystem" android:description="@string/permdesc_read_settings"/>
    <permission android:label="@string/permlab_write_settings" android:name="com.nothing.launcher.permission.WRITE_SETTINGS" android:protectionLevel="signatureOrSystem" android:description="@string/permdesc_write_settings"/>
    <permission android:label="@string/permlab_access_share_provider" android:name="com.nothing.launcher.permission.ACCESS_SHARE_INFO" android:protectionLevel="signatureOrSystem" android:description="@string/permdesc_access_share_provider"/>
    <uses-permission android:name="com.nothing.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.nothing.launcher.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_CALENDAR"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <uses-permission android:name="com.nothing.widget.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.nothing.weather.permission.ACCESS_WEATHER_INFO"/>
    <permission android:name="com.nothing.widget.permission.READ_SETTINGS" android:protectionLevel="normal"/>
    <permission android:name="com.nothing.widget.permission.WRITE_SETTINGS" android:protectionLevel="signatureOrSystem"/>
    <uses-feature android:name="com.nothing.feature" android:required="true"/>
    <uses-permission android:name="com.nothing.experience.PERMISSION"/>
    <uses-permission android:name="com.nothing.proxy.permission.ENABLE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <permission android:name="com.nothing.launcher.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION" android:protectionLevel="signature"/>
    <uses-permission android:name="com.nothing.launcher.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"/>
    <application android:theme="@style/AppTheme" android:label="@string/derived_app_name" android:icon="@drawable/ic_launcher_home" android:name="com.nothing.launcher.NTLauncherApplication" android:backupAgent="com.android.launcher3.LauncherBackupAgent" android:restoreAnyVersion="true" android:hardwareAccelerated="true" android:largeHeap="@bool/config_largeHeap" android:supportsRtl="true" android:fullBackupOnly="true" android:extractNativeLibs="false" android:fullBackupContent="@xml/backupscheme" android:backupInForeground="true" android:appComponentFactory="androidx.core.app.CoreComponentFactory">
        <activity android:theme="@style/LauncherTheme" android:name="com.android.searchlauncher.SearchLauncher" android:enabled="true" android:exported="true" android:taskAffinity="" android:clearTaskOnLaunch="true" android:stateNotNeeded="true" android:launchMode="singleTask" android:screenOrientation="unspecified" android:configChanges="mcc|mnc|keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize|smallestScreenSize" android:windowSoftInputMode="adjustPan" android:resumeWhilePausing="true" android:resizeableActivity="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.SHOW_WORK_APPS"/>
                <category android:name="android.intent.category.HOME"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.MONKEY"/>
                <category android:name="android.intent.category.LAUNCHER_APP"/>
            </intent-filter>
            <meta-data android:name="com.android.launcher3.grid.control" android:value="com.nothing.launcher.grid_control"/>
        </activity>
        <service android:name="com.android.quickstep.TouchInteractionService" android:permission="android.permission.STATUS_BAR_SERVICE" android:exported="true" android:directBootAware="true">
            <intent-filter>
                <action android:name="android.intent.action.QUICKSTEP_SERVICE"/>
            </intent-filter>
        </service>
        <activity android:theme="@style/LauncherTheme" android:name="com.android.quickstep.RecentsActivity" android:taskAffinity="" android:clearTaskOnLaunch="true" android:stateNotNeeded="true" android:excludeFromRecents="true" android:launchMode="singleTask" android:screenOrientation="unspecified" android:configChanges="mcc|mnc|keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize|smallestScreenSize" android:resumeWhilePausing="true" android:resizeableActivity="true"/>
        <provider android:name="com.android.quickstep.LauncherSearchIndexablesProvider" android:permission="android.permission.READ_SEARCH_INDEXABLES" android:exported="true" android:multiprocess="true" android:authorities="com.nothing.launcher" android:grantUriPermissions="true">
            <intent-filter>
                <action android:name="android.content.action.SEARCH_INDEXABLES_PROVIDER"/>
            </intent-filter>
        </provider>
        <provider android:name="androidx.core.content.FileProvider" android:exported="false" android:authorities="com.nothing.launcher.overview.fileprovider" android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/overview_file_provider_paths"/>
        </provider>
        <activity android:theme="@style/Theme.Translucent.NoTitleBar.Fullscreen" android:name="com.android.launcher3.proxy.ProxyActivityStarter" android:exported="false" android:clearTaskOnLaunch="true" android:launchMode="singleTask"/>
        <activity android:name="com.android.quickstep.interaction.GestureSandboxActivity" android:exported="true" android:excludeFromRecents="true" android:autoRemoveFromRecents="true">
            <intent-filter>
                <action android:name="com.android.quickstep.action.GESTURE_SANDBOX"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:theme="@style/AllSetTheme" android:label="@string/allset_title" android:name="com.android.quickstep.interaction.AllSetActivity" android:permission="android.permission.REBOOT" android:exported="true" android:excludeFromRecents="true" android:autoRemoveFromRecents="true">
            <intent-filter>
                <action android:name="com.android.quickstep.action.GESTURE_ONBOARDING_ALL_SET"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <receiver android:name="com.android.launcher3.SessionCommitReceiver" android:exported="true">
            <intent-filter>
                <action android:name="android.content.pm.action.SESSION_COMMITTED"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.android.launcher3.AppWidgetsRestoredReceiver" android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_HOST_RESTORED"/>
            </intent-filter>
        </receiver>
        <service android:label="@string/notification_dots_service_title" android:name="com.android.launcher3.notification.NotificationListener" android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" android:exported="true">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService"/>
            </intent-filter>
        </service>
        <meta-data android:name="android.nfc.disable_beam_default" android:value="true"/>
        <activity android:theme="@style/AddItemActivityTheme" android:name="com.android.launcher3.dragndrop.AddItemActivity" android:exported="true" android:excludeFromRecents="true" android:autoRemoveFromRecents="true">
            <intent-filter>
                <action android:name="android.content.pm.action.CONFIRM_PIN_SHORTCUT"/>
                <action android:name="android.content.pm.action.CONFIRM_PIN_APPWIDGET"/>
            </intent-filter>
        </activity>
        <provider android:name="com.android.launcher3.LauncherProvider" android:readPermission="com.nothing.launcher.permission.READ_SETTINGS" android:writePermission="com.nothing.launcher.permission.WRITE_SETTINGS" android:exported="true" android:authorities="com.nothing.launcher.settings"/>
        <provider android:name="com.nothing.launcher.share.LauncherShareProvider" android:permission="com.nothing.launcher.permission.ACCESS_SHARE_INFO" android:exported="true" android:authorities="com.nothing.launcher.share"/>
        <provider android:name="com.android.launcher3.graphics.GridCustomizationsProvider" android:exported="true" android:authorities="com.nothing.launcher.grid_control"/>
        <activity android:theme="@style/NTHomeSettings" android:label="@string/settings_button_text" android:name="com.android.launcher3.settings.HomeSettingsActivity" android:exported="true" android:screenOrientation="portrait" android:autoRemoveFromRecents="true" android:resizeableActivity="false">
            <intent-filter>
                <action android:name="android.intent.action.APPLICATION_PREFERENCES"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity-alias android:name="com.android.launcher3.settings.SettingsActivity" android:targetActivity="com.android.launcher3.settings.HomeSettingsActivity"/>
        <activity android:theme="@style/NTHomeSettings" android:label="@string/nothing_wallpaper_style_customisation" android:name="com.nothing.launcher.setting.wallpaper.CustomisationSettingsActivity" android:exported="true" android:launchMode="singleTask" android:screenOrientation="portrait" android:autoRemoveFromRecents="true" android:resizeableActivity="false">
            <intent-filter>
                <action android:name="com.nothing.launcher.customisation_settings"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity-alias android:name="com.nothing.stylesetting.wallpaper.NothingWallpaperStyleActivity" android:exported="true" android:targetActivity="com.nothing.launcher.setting.wallpaper.CustomisationSettingsActivity"/>
        <activity android:theme="@style/NTHomeSettings" android:label="@string/nothing_wallpaper_style_appicon_title" android:name="com.nothing.launcher.setting.iconpack.IconPackPickerActivity" android:exported="true" android:launchMode="singleTask" android:screenOrientation="portrait" android:autoRemoveFromRecents="true" android:resizeableActivity="false">
            <intent-filter>
                <action android:name="com.nothing.launcher.icon_pack_picker"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:theme="@style/NTHomeSettings" android:label="@string/nothing_wallpaper_style_grid_title" android:name="com.nothing.launcher.setting.appgrid.AppGridPickerActivity" android:exported="false" android:launchMode="singleTask" android:screenOrientation="portrait" android:autoRemoveFromRecents="true" android:resizeableActivity="false">
            <intent-filter>
                <action android:name="com.nothing.launcher.app_grid_picker"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <provider android:name="com.android.launcher3.testing.TestInformationProvider" android:readPermission="android.permission.WRITE_SECURE_SETTINGS" android:writePermission="android.permission.WRITE_SECURE_SETTINGS" android:enabled="false" android:exported="true" android:authorities="com.nothing.launcher.TestInfo"/>
        <activity android:theme="@style/AppTheme" android:name="com.android.launcher3.secondarydisplay.SecondaryDisplayLauncher" android:enabled="true" android:exported="true" android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.SECONDARY_HOME"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <provider android:name="androidx.startup.InitializationProvider" android:exported="false" android:multiprocess="true" android:authorities="com.nothing.launcher.androidx-startup" android:directBootAware="false">
            <meta-data android:name="androidx.emoji2.text.EmojiCompatInitializer" android:value="androidx.startup"/>
            <meta-data android:name="androidx.lifecycle.ProcessLifecycleInitializer" android:value="androidx.startup"/>
        </provider>
        <activity android:theme="@style/OneGlanceSettingsActivity" android:label="@string/widget_one_glance_date_name" android:name="com.nothing.widgets.oneglance.OnGlanceDateConfigureActivity" android:exported="true" android:launchMode="singleTask" android:screenOrientation="sensorPortrait" android:autoRemoveFromRecents="true" android:resizeableActivity="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.nothing.widgets.ACTION_ONEGLANCE_CONFIGURE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data android:name="com.android.settings.quicklook.enabled" android:value="true"/>
        </activity>
        <receiver android:label="@string/widget_one_glance_date_name" android:name="com.nothing.widget.collection.clock.OneGlanceDateWidgetProvider" android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="android.intent.action.DATE_CHANGED"/>
                <action android:name="android.intent.action.TIME_SET"/>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/one_glance_date_widget_info"/>
        </receiver>
        <provider android:name="com.nothing.widgets.weather.dao.WeatherDataProvider" android:readPermission="com.nothing.widget.permission.READ_SETTINGS" android:writePermission="com.nothing.widget.permission.WRITE_SETTINGS" android:enabled="true" android:exported="true" android:authorities="com.nothing.widget.weather"/>
        <activity android:theme="@style/WeatherSettingsActivity" android:name="com.nothing.widgets.weather.ui.WeatherLocationPickActivity" android:exported="false" android:screenOrientation="sensorPortrait"/>
        <activity android:theme="@style/WeatherSettingsActivity" android:name="com.nothing.widgets.weather.ui.WeatherConfigureActivity" android:exported="false" android:launchMode="singleTask" android:screenOrientation="sensorPortrait">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.nothing.widgets.ACTION_WEATHER_CONFIGURE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:theme="@style/ClockSettingsActivity" android:name="com.nothing.widgets.digital.ui.DigitalClockConfigureActivity" android:exported="false" android:screenOrientation="sensorPortrait">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>
        <receiver android:label="@string/weather_widget_name" android:name="com.nothing.widget.collection.weather.WeatherWidgetProvider" android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/weather_widget_info"/>
        </receiver>
        <receiver android:label="@string/widget_digital_clock_name" android:name="com.nothing.widget.collection.clock.DigitalClockWidgetProvider" android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/digital_clock_widget_info"/>
        </receiver>
        <receiver android:label="@string/widget_analog_clock_name" android:name="com.nothing.widget.collection.clock.AnalogClockDateWeekWidgetProvider" android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/analog_clock_date_week_widget"/>
        </receiver>
        <receiver android:name="com.nothing.widgets.weather.WeatherInfoClickReceiver" android:exported="false">
            <intent-filter>
                <action android:name="com.nothing.widgets.weather.ACTION_WEATHER_LINK_CLICK"/>
            </intent-filter>
        </receiver>
        <provider android:name="com.nothing.launcher.provider.NTCommonProvider" android:enabled="true" android:exported="false" android:authorities="com.nothing.launcher.oscommon.init"/>
        <uses-library android:name="androidx.window.extensions" android:required="false"/>
        <uses-library android:name="androidx.window.sidecar" android:required="false"/>
        <activity android:name="androidx.slice.compat.SlicePermissionActivity" android:excludeFromRecents="true"/>
        <service android:name="androidx.work.impl.background.systemalarm.SystemAlarmService" android:enabled="@bool/enable_system_alarm_service_default" android:exported="false" android:directBootAware="false"/>
        <service android:name="androidx.work.impl.background.systemjob.SystemJobService" android:permission="android.permission.BIND_JOB_SERVICE" android:enabled="@bool/enable_system_job_service_default" android:exported="true" android:directBootAware="false"/>
        <service android:name="androidx.work.impl.foreground.SystemForegroundService" android:enabled="@bool/enable_system_foreground_service_default" android:exported="false" android:directBootAware="false"/>
        <receiver android:name="androidx.work.impl.utils.ForceStopRunnable$BroadcastReceiver" android:enabled="true" android:exported="false" android:directBootAware="false"/>
        <receiver android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryChargingProxy" android:enabled="false" android:exported="false" android:directBootAware="false">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
        </receiver>
        <receiver android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryNotLowProxy" android:enabled="false" android:exported="false" android:directBootAware="false">
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_OKAY"/>
                <action android:name="android.intent.action.BATTERY_LOW"/>
            </intent-filter>
        </receiver>
        <receiver android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$StorageNotLowProxy" android:enabled="false" android:exported="false" android:directBootAware="false">
            <intent-filter>
                <action android:name="android.intent.action.DEVICE_STORAGE_LOW"/>
                <action android:name="android.intent.action.DEVICE_STORAGE_OK"/>
            </intent-filter>
        </receiver>
        <receiver android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$NetworkStateProxy" android:enabled="false" android:exported="false" android:directBootAware="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <receiver android:name="androidx.work.impl.background.systemalarm.RescheduleReceiver" android:enabled="false" android:exported="false" android:directBootAware="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.TIME_SET"/>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver android:name="androidx.work.impl.background.systemalarm.ConstraintProxyUpdateReceiver" android:enabled="@bool/enable_system_alarm_service_default" android:exported="false" android:directBootAware="false">
            <intent-filter>
                <action android:name="androidx.work.impl.background.systemalarm.UpdateProxies"/>
            </intent-filter>
        </receiver>
        <receiver android:name="androidx.work.impl.diagnostics.DiagnosticsReceiver" android:permission="android.permission.DUMP" android:enabled="true" android:exported="true" android:directBootAware="false">
            <intent-filter>
                <action android:name="androidx.work.diagnostics.REQUEST_DIAGNOSTICS"/>
            </intent-filter>
        </receiver>
        <service android:name="androidx.room.MultiInstanceInvalidationService" android:exported="false" android:directBootAware="true"/>
        <activity android:theme="@style/Theme.Translucent.NoTitleBar" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:exported="false"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
    </application>
</manifest>
